nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    
}
nav li:hover{
    background-color: rgb(199, 187, 168);
    
}
nav li> a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    /* padding-bottom: 100px; */ 
   margin-left: 20px;
    
}

footer{
    text-align: center;
}
header{
    height: 40px;
   
    background-color: rgb(132, 132, 16);
}

#join{
    
   color: hsl(137, 88%, 33%);
    border-color: hsl(137, 92%, 45%);
    
    
}
 h1{
    display:inline;
    text-align:start;
    margin-right: 400px;
   padding-top: 20px;
    
  
}
article > header{
    text-align: left;
   background: none;
}
section > p{
    text-align: justify;
}
figure{
    align-items: center;
}
/* nested menue style */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: azure;
    text-align: left;
    padding: 10px;

}
nav li:hover .dropdown{
    display: block;
}
header > li > a {
    text-align: right;
}